/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }
/* ---------------------------------------------------------------- */
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ----------------------------------------------------------------- */

body{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* HEADER */
.header{
    border: 1px solid blue;
    background-color: #ffffff;
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.header div{
    border: 1px solid brown;
}
.searchInput{
    grid-column: 1/2;
}
.searchInput input[type="search"]{
    width: 70%;
}
.userInfo{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.userGreeting{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.userGreeting img{
    grid-row: 1/3;
}
.btns{
    display: flex;
    place-self: center start;
    gap: 50px;
}

/* SIDES */

.sideBar{
    border: 1px solid yellow;
    background-color: #1992d4;
    grid-row: 1/3;
    display: grid;
}
.sideBar div,.sideBar a{
    color: white;
    font-weight: bold;
}

/* MAIN */
.mainContent{
    border: 1px solid red;
    background-color: #e2e8f0;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}
.projectSection{
  display: grid;
}
.projectContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.projects{
  background-color: white;
  border-radius: 10px;
  border-left: 10px solid orange;
  padding: 100px;
}
.annTrendContainer{
  background-color: white;
  border-radius: 10px;
}
.announcementList, .trendList{
  display: grid;
  border-radius: 10px;
  margin-top: 20px;
  padding: 30px;
}
.announcementContent.middle{
  border-top: 3px solid #e2e8f0;
  border-bottom: 3px solid #e2e8f0;
}
.announcementContent, .trendingContent{
  padding: 30px 0 30px 0;
  background-color: white;
}

.announcementTrending{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
